/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.logo {
  display: block;
  line-height: 80px; 
}
.logo span.logo-lg {
  display: block;
  width: 74px;
  height: 80px;
  background-image: url("../img/logoLG.jpg");
  margin-left: 30%;
  margin-top: 5px;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #31459c;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.user-delete,.item-delete,.item-submit,.item-notif{
    width: 60px;
    height: 30px;
    font-size: 80%;
    padding-left: 0px;
    padding-right: 0px;
  }
 #buttonAct{
    width: 70px;
    height: 30px;
    font-size: 80%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #buttonCan,#buttonBack,#buttonImp{
    width: 70px;
    height: 30px;
    font-size: 80%;
    padding-left: 0px;
    padding-right: 0px;
  }
.tableNom a:hover{
  color: #7386D5;
  background: #fff;
  font-weight: bold; 
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.account-user-name, .account-position{
    font-size: 70%;
    position: relative;
}

.account-user-name{
    float: right;
}

.account-position{
    left: 5px;
    top: 4px;
}
.account-user-avatar{
    position: relative;
    left: 0%; 
}
#navbarAU{
    width: 100px;
}

.dropdown-menu{
    font-size: 80%;
}

p {
  width: 100%;
  /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
}
.overflow-visible {
  white-space: initial;
  text-align: left;
}
div.ver_item_progress{
    width: 100%;
    /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
}
div.ver_item_progress span{
    white-space: initial;
    text-align: left;
}

.item-status:hover, #itemA li:hover{
color: #7386D5;
  background: #fff;
  font-weight: bold; 
}
#itemA li {
    display:inline;
    font-style: italic;
    margin-left: 10%;
}
 

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    #tableSearch_wrapper,#tableSubmit_wrapper{
        zoom: 0.90;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    #tableSearch_wrapper,#tableSubmit_wrapper{
        zoom: 0.58;
    }
    #search-new-adm,#search-new-user,h2{
        zoom: 0.6;
    }
    #tableProgress_wrapper{
        zoom: 0.64;
    }
    div.ver_item_progress span{
        zoom: 0.70;
    }
    #itemA li {
        display: block;
        margin-left: 0%;
    }
}
@media (min-width: 420px) and (max-width: 479px) {
    #tableSearch_wrapper,#tableSubmit_wrapper{
        zoom: 0.49;
    }
    #search-new-adm,#search-new-user,h2{
        zoom: 0.55;
    }
    #tableProgress_wrapper{
        zoom: 0.56;
    }
    div.ver_item_progress span{
        zoom: 0.60;
    }
    #itemA li {
        display: block;
        margin-left: 0%;
    }

}
@media (max-width: 419px) {
   #tableSearch_wrapper,#tableSubmit_wrapper{
        zoom: 0.44;
    }
    #search-new-adm,#search-new-user,h2{
        zoom: 0.55;
    }
    #tableProgress_wrapper{
        zoom: 0.52;
    }
    div.ver_item_progress span{
        zoom: 0.50;
    } 
    #itemA li {
        display: block;
        margin-left: 0%;
    }

}